<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signup</title>
    <style>
        body{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container {
            width: 80%;
            height: 100vh;
            margin: 0 auto;
            padding: 0 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* border: 1px solid black; */
        }
        .Form_Outer_Box{
            width: 600px;
            /* height: 200px; */
            padding: 20px 10px;
            margin: 0 auto;
            border-radius: 15px;
            background-color: aliceblue;
            /* border: 1px solid blue; */
            /* display: flex;
            justify-content: center;
            align-items: center; */
        }
        .Form_Outer_Box h2{
            text-align: center;
            color: #555;
        }
        .Form_Outer_Box input{
            width: 80%;
            padding: 10px 8px;
            border-radius: 20px;
            margin: 10px 0px 10px 8%;
            outline: none;
            border: 0.5px solid #555;
        }
        .Form_Outer_Box Button{
            width: 140px;
            padding: 10px 8px;
            border-radius: 20px;
            margin: 10px 0px 10px 40%;
            cursor: pointer;
            outline: none;
            border: 0.5px solid #555;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <div class="Form_Outer_Box">
            <h2>Sign Up</h2>
            <form method="post" action="/api/user" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Enter Your Name">
                <input type="text" name="email" placeholder="Enter You Email">
                <input type="text" name="username" placeholder="Enter Your UserName">
                <input type="text" name="password" placeholder="Enter Your Password">
                <input type="file" name="userImageURL">
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>

    <%- include('./partials/script') %>
</body>
</html>